<!--<?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1" >
  <test name="Different test case or a classes togather" >
    <classes>
      <class name="com.first_Project_Maven.first"/>
      <class name="com.first_Project_Maven.GoogleTest"/>
      <class name="com.first_Project_Maven.Groups_Test"/>
      <class name="com.first_Project_Maven.Invocation_Test"/>
       <class name="com.first_Project_Maven.Priority_test"/>
    </classes>
 </test>
</suite>